@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 41, 41);
  font-family: "Open Sans", system-ui;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  gap: 2rem;
}

#greeting {
  font-size: 2.3rem;
  font-weight: bold;
}

.container h2 {
  color: azure;
}

#color-box {
  background-color: darkslategrey;
  width: 300px;
  height: 300px;
  border-radius: 0.8rem;
}

#color-code {
  text-align: center;
}

h4 {
  color: aliceblue;
}

#change-color-btn {
  background: none;
  width: 200px;
  padding: 1rem 0;
  border: 2px solid darkslategrey;
  border-radius: 50px;
  font-weight: 800;
  font-size: 1rem;
  color: aliceblue;
}

#change-color-btn:hover {
  background-color: rgba(57, 56, 56, 0.62);
}
